<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>My Scope 1</string>
		<key>predicate</key>
		<dict>
			<key>predicates</key>
			<array>
				<dict>
					<key>path-components</key>
					<array/>
					<key>rule</key>
					<string>workspace-location</string>
				</dict>
				<dict>
					<key>operand</key>
					<string></string>
					<key>operator</key>
					<string>contains</string>
					<key>rule</key>
					<string>file-name</string>
				</dict>
			</array>
			<key>rule</key>
			<string>all</string>
		</dict>
		<key>source</key>
		<dict>
			<key>file-source</key>
			<string>workspace</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>WWDC.xcodeproj</string>
		<key>predicate</key>
		<dict>
			<key>predicates</key>
			<array>
				<dict>
					<key>path-components</key>
					<array>
						<string>WWDC.xcodeproj</string>
					</array>
					<key>rule</key>
					<string>workspace-location</string>
				</dict>
				<dict>
					<key>operand</key>
					<string>swift</string>
					<key>operator</key>
					<string>is-equal-to</string>
					<key>rule</key>
					<string>file-extension</string>
				</dict>
			</array>
			<key>rule</key>
			<string>all</string>
		</dict>
		<key>source</key>
		<dict>
			<key>file-source</key>
			<string>workspace</string>
		</dict>
	</dict>
</array>
</plist>
